﻿
@{
    ViewBag.Title = "Registracija";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Neprijavljeni">

    <p class="Naslov">Registracija:</p>

    <br />

    @{ string s = (ViewBag.Greska == null) ? "" : ViewBag.Greska;}
    <p class="Greska">@s</p>

    <br />

    <form method="post" action="/Registracija/Index">
        <table border="1">
            <tr>
                <td>Korisnicko ime:</td>
                <td><input type="text" name="korisnickoIme" /></td>
            </tr>
            <tr>
                <td>Lozinka:</td>
                <td><input type="password" name="lozinka" /></td>
            </tr>
            <tr>
                <td>Ime:</td>
                <td><input type="text" name="ime" /></td>
            </tr>
            <tr>
                <td>Prezime:</td>
                <td><input type="text" name="prezime" /></td>
            </tr>
            <tr>
                <td>Pol:</td>
                <td>
                    <select name="pol">
                        <option>Muski</option>
                        <option>Zenski</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email" /></td>
            </tr>
            <tr>
                <td>Datum rodjenja:</td>
                <td><input type="date" name="datum" /></td>
            </tr>
        </table>
        <input type="submit" value="Registruj se" />
    </form>



</body>
