﻿
@{
    ViewBag.Title = "DodajSmestaj";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Menadzer">


    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <p class="Naslov">Dodaj smestaj:</p>

    @{ string s = (ViewBag.Greska == null) ? "" : ViewBag.Greska;}
    <p class="Greska">@s</p>

    <form method="post" action="Menadzer/PotvrdiDodavanjeSmestaja">
        <table border="1">
            <tr>
                <td>Aranzman:</td>
                <td>
                    <select name="nazivAranzmana">
                        @foreach (var a in ViewBag.MojiAranzmani)
                        {
                            if (a.Smestaj == null || a.Smestaj.Obrisan == true)
                            {
                                <option>@a.Naziv</option>
                            }
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td>Tip smestaja:</td>
                <td><select name="tipSmestaja"><option>Hotel</option><option>Motel</option><option>Vila</option></select></td>
            </tr>
            <tr>
                <td>Naziv:</td>
                <td><input type="text" name="nazivS" /></td>
            </tr>
            <tr>
                <td>Broj zvezdica:</td>
                <td><select name="tipSmestaja"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select></td>
            </tr>
            <tr>
                <td>Postojanje bazena:</td>
                <td><select name="postojanjeBazena"><option>Da</option><option>Ne</option></select></td>
            </tr>
            <tr>
                <td>Postojanje spa centra:</td>
                <td><select name="postojanjeSpaCentra"><option>Da</option><option>Ne</option></select></td>
            </tr>
            <tr>
                <td>Podrzano za osobe sa invaliditetom:</td>
                <td><select name="invaliditet"><option>Da</option><option>Ne</option></select></td>
            </tr>
            <tr>
                <td>Postojanje wifi-a:</td>
                <td><select name="wifi"><option>Da</option><option>Ne</option></select></td>
            </tr>
            <tr>
                <td align="right" colspan="2"><input type="submit" value="Dodaj" /></td>
            </tr>
        </table>
    </form>
    <hr />

</body>

