﻿
@{
    ViewBag.Title = "Dodaj smestajnu jedinicu";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Menadzer">


    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <p class="Naslov">Dodaj smestajnu jedinicu</p>

    @using PR21_2018_Web_Projekat.Models;
    @{ Smestaj a = ViewBag.Smestaj;}

    @{ string s = (ViewBag.Greska == null) ? "" : ViewBag.Greska;}
    <p class="Greska">@s</p>
    

    <form method="post" action="/Menadzer/PotvrdiDodavanjeSmestajneJedinice">
        <table>

            <tr>
                <td>Broj smestajne jedinice:</td>
                <td><input type="text" name="brSJ" /></td>
            </tr>
            <tr>
                <td>Dozvoljen broj gostiju:</td>
                <td><input type="text" name="brGostiju" /></td>
            </tr>
            <tr>
                <td>Cena:</td>
                <td><input type="text" name="cena" /></td>
            </tr>
            <tr>
                <td>Dozvoljeni ljubimci:</td>
                <td><select name="ljubimci"><option>Da</option><option>Ne</option></select></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Dodaj" /></td>
            </tr>
        </table>
    </form>

</body>
