﻿
@{
    ViewBag.Title = "Dodaj";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Menadzer">



    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <p class="Naslov">Dodaj aranzman</p>

    @{ string s = (ViewBag.Greska == null) ? "" : ViewBag.Greska;}
    <p class="Greska">@s</p>

    <form method="post" action="/Menadzer/PotvrdiDodavanjeAranzmana">
        <table border="1">
            <tr>
                <td>Naziv:</td>
                <td><input type="text" name="naziv" /></td>
            </tr>
            <tr>
                <td>Tip aranzmana:</td>
                <td><select name="tipAranzmana"><option>Nocenje sa doruckom</option><option>Polupansion</option><option>Pun pansion</option><option>All inclusive</option><option>Najam apartmana</option></select></td>
            </tr>
            <tr>
                <td>Tip prevoza:</td>
                <td><select name="tipPrevoza"><option>Autobus</option><option>Avion</option><option>Autobus + avion</option><option>Individualan</option><option>Ostalo</option></select></td>
            </tr>
            <tr>
                <td>Lokacija:</td>
                <td><input type="text" name="lokacija" /></td>
            </tr>
            <tr>
                <td>Datum pocetka putovanja:</td>
                <td><input type="date" name="datumPocetkaPutovanja" /></td>
            </tr>
            <tr>
                <td>Datum zavrsetka putovanja:</td>
                <td><input type="date" name="datumZavrsetkaPutovanja" /></td>
            </tr>
            <tr>
                <td align="center" colspan="2">Mesto nalazenja:</td>
            </tr>
            <tr>
                <td>Adresa:</td>
                <td><input type="text" name="adresa" /></td>
            </tr>
            <tr>
                <td>Geo duzina:</td>
                <td><input type="text" name="geoDuzina" /></td>
            </tr>
            <tr>
                <td>Geo sirina:</td>
                <td><input type="text" name="geoSirina" /></td>
            </tr>
            <tr>
                <td>Vreme nalazenja:</td>
                <td><input type="time" name="vreme" /></td>
            </tr>
            <tr>
                <td>Maksimalan broj putnika:</td>
                <td><input type="text" name="maxBrPutnika" /></td>
            </tr>
            <tr>
                <td>Opis aranzmana:</td>
                <td><textarea name="opisAranzmana" rows="4" cols="50"></textarea></td>
            </tr>
            <tr>
                <td>Program putovanja:</td>
                <td><textarea name="programPutovanja" rows="4" cols="50"></textarea></td>
            </tr>
            <tr>
                <td>Poster aranzmana:</td>
                <td><input type="file" name="poster" /></td>
            </tr>

            <tr>
                <td align="right" colspan="2"><input type="submit" value="Dodaj" /></td>
            </tr>
        </table>
    </form>

</body>

