﻿
@{
    ViewBag.Title = "IzmeniSmestajnuJedinicu";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Menadzer">


    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <p class="Naslov">Izmeni smestajnu jedinicu</p>

    @using PR21_2018_Web_Projekat.Models;

    @{ SmestajnaJedinica sj = ViewBag.SmestajnaJedinica; }

    @{ string st = (ViewBag.Greska == null) ? "" : ViewBag.Greska;}
    <p class="Greska">@st</p>

    <form method="post" action="/Menadzer/PotvrdiIzmenuSmestajneJedinice">
        <input type="text" name="stariBR" value="@sj.BrojSmestajneJedinice" hidden />
        <table>
            <tr>
                <td>Dozvoljen broj gostiju:</td>
                <td><input type="text" name="brGostiju" value="@sj.DozvoljenBrGostiju" /></td>
            </tr>
            <tr>
                <td>Cena:</td>
                <td><input type="text" name="cena" value="@sj.Cena" /></td>
            </tr>
            @{ string ljub = (sj.Ljubimci == true) ? "Da" : "Ne";}
            <tr>
                <td>Dozvoljeni ljubimci:</td>
                <td><select name="ljubimci" selected="@ljub"><option>Da</option><option>Ne</option></select></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Izmeni" /></td>
            </tr>
        </table>
    </form>

</body>
