﻿
@{
    ViewBag.Title = "IzmeniSmestaj";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Menadzer">


    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <p class="Naslov">Izmeni smestaj:</p>

    @using PR21_2018_Web_Projekat.Models;

    @{ Smestaj s = ViewBag.Smestaj;}

    @{ string st = (ViewBag.Greska == null) ? "" : ViewBag.Greska;}
    <p class="Greska">@s</p>

    <form method="post" action="/Menadzer/PotvrdiIzmenuSmestaja">
        <table border="1">

            <tr>
                <td><input type="text" value="@s.Naziv" name="stariNaziv" hidden /></td>
                <td>Tip smestaja:</td>
                <td><select name="tipSmestaja" selected="@s.TipSmestaja"><option>Hotel</option><option>Motel</option><option>Vila</option></select></td>
            </tr>
            <tr>
                <td>Naziv:</td>
                <td><input type="text" name="nazivS" value="@s.Naziv" /></td>
            </tr>
            <tr>
                <td>Broj zvezdica:</td>
                <td><select name="brojZvezdica" selected="@s.BrojZvezdica.ToString()"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select></td>
            </tr>
            <tr>
                <td>Postojanje bazena:</td>
                <td><select name="postojanjeBazena" selected="@s.PostojanjeBazena"><option>Da</option><option>Ne</option></select></td>
            </tr>
            <tr>
                <td>Postojanje spa centra:</td>
                <td><select name="postojanjeSpaCentra" selected="@s.PostojanjeSpaCentra"><option>Da</option><option>Ne</option></select></td>
            </tr>
            <tr>
                <td>Podrzano za osobe sa invaliditetom:</td>
                <td><select name="invaliditet" selected="@s.Invaliditet"><option>Da</option><option>Ne</option></select></td>
            </tr>
            <tr>
                <td>Postojanje wifi-a:</td>
                <td><select name="wifi" selected="@s.Wifi"><option>Da</option><option>Ne</option></select></td>
            </tr>
            <tr>
                <td align="right" colspan="2"><input type="submit" value="Izmeni" /></td>
            </tr>
        </table>
    </form>
    <hr />

</body>
