﻿
@{
    ViewBag.Title = "Izmeni";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Menadzer">


    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <p class="Naslov">Izmeni aranzman</p>

    @using PR21_2018_Web_Projekat.Models;
    @{ Aranzman a = ViewBag.Aranzman;}

    @{ string s = (ViewBag.Greska == null) ? "" : ViewBag.Greska;}

    <p class="Greska">@s</p>

    @{
        string bazen = (a.Smestaj.PostojanjeBazena == true) ? "Da" : "Ne";
        string spa = (a.Smestaj.PostojanjeSpaCentra == true) ? "Da" : "Ne";
        string inva = (a.Smestaj.Invaliditet == true) ? "Da" : "Ne";
        string wifi = (a.Smestaj.Wifi == true) ? "Da" : "Ne";
        DateTime vreme = Convert.ToDateTime(a.VremeNalazenja.ToString());
    }

    <form method="post" action="/Menadzer/PotvrdiIzmenuAranzmana">

        <input type="text" name="nazivZaIzmenu" value="@a.Naziv" hidden />
        <table border="1">
            <tr>
                <td>Naziv:</td>
                <td><input type="text" name="naziv" value="@a.Naziv" /></td>
            </tr>
            <tr>
                <td>Tip aranzmana:</td>
                <td><select name="tipAranzmana" selected="@a.TipAranzmana"><option>Nocenje sa doruckom</option><option>Polupansion</option><option>Pun pansion</option><option>All inclusive</option><option>Najam apartmana</option></select></td>
            </tr>
            <tr>
                <td>Tip prevoza:</td>
                <td><select name="tipPrevoza" selected="@a.TipPrevoza"><option>Autobus</option><option>Avion</option><option>Autobus + avion</option><option>Individualan</option><option>Ostalo</option></select></td>
            </tr>
            <tr>
                <td>Lokacija:</td>
                <td><input type="text" name="lokacija" value="@a.Lokacija" /></td>
            </tr>
            <tr>
                <td>Datum pocetka putovanja:</td>
                <td><input type="date" name="datumPocetkaPutovanja" value="@a.DatumPocetkaPutovanja" /></td>
            </tr>
            <tr>
                <td>Datum zavrsetka putovanja:</td>
                <td><input type="date" name="datumZavrsetkaPutovanja" value="@a.DatumZavrsetkaPutovanja" /></td>
            </tr>
            <tr>
                <td align="center" colspan="2">Mesto nalazenja:</td>
            </tr>
            <tr>
                <td>Adresa:</td>
                <td><input type="text" name="adresa" value="@a.MestoNalazenja.Adresa" /></td>
            </tr>
            <tr>
                <td>Geo duzina:</td>
                <td><input type="text" name="geoDuzina" value="@a.MestoNalazenja.GeoDuzina" /></td>
            </tr>
            <tr>
                <td>Geo sirina:</td>
                <td><input type="text" name="geoSirina" value="@a.MestoNalazenja.GeoSirina" /></td>
            </tr>
            <tr>
                <td>Vreme nalazenja:</td>
                <td><input type="time" name="vreme" value="@vreme" /></td>
            </tr>
            <tr>
                <td>Maksimalan broj putnika:</td>
                <td><input type="text" name="maxBrPutnika" value="@a.MaxBrojPutnika" /></td>
            </tr>
            <tr>
                <td>Opis aranzmana:</td>
                <td><textarea name="opisAranzmana" rows="4" cols="50" value="@a.OpisAranzmana"></textarea></td>
            </tr>
            <tr>
                <td>Program putovanja:</td>
                <td><textarea name="programPutovanja" rows="4" cols="50" value="@a.ProgramPutovanja"></textarea></td>
            </tr>
            <tr>
                <td>Poster aranzmana:</td>
                <td><input type="file" name="poster" value="@a.PosterAranzmana" /></td>
            </tr>

            <tr>
                <td align="right" colspan="2"><input type="submit" value="Izmeni" /></td>
            </tr>
        </table>
    </form>

</body>

