﻿
@{
    ViewBag.Title = "Menadzer index";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Menadzer">


    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />
    <form method="post" action="/Turista/UrediProfil" align="right">
        <input type="submit" value="Uredi profil" />
    </form>

    <p class="Naslov">Pocetna strana</p>

    <br />

    @{ string s = ViewBag.Dobrodosli;}
    <p class="Poruka">@s</p>

    <form action="/Menadzer/Index">
        <input type="submit" value="Svi aranzmani" />
    </form>

    <br />

    <form action="/Menadzer/Predstojeci">
        <input type="submit" value="Predstojeci aranzmani" />
    </form>

    <br />

    <form action="/Menadzer/Prethodni">
        <input type="submit" value="Prethodni aranzmani" />
    </form>

    <br />

    <table border="1" align="center" cellpadding="10" cellspacing="2">
        <tr>
            <td>Polazak</td>
            <td>Povratak</td>
            <td>Tip prevoza</td>
            <td colspan="1"></td>
            <td>Naziv aranzmana</td>
            <td>Cena</td>
        </tr>
        @foreach (var a in ViewBag.Aranzmani)
        {
            if (a.Obrisan == false)
            {
                <tr>
                    <td>@a.DatumPocetkaPutovanja.Date.ToString()</td>
                    <td>@a.DatumZavrsetkaPutovanja.Date.ToString()</td>
                    <td>@a.TipPrevoza</td>
                    <td><img src="@a.PosterAranzmana" width="150" height="150" /></td>
                    <td>@a.Naziv</td>
                    @{ List<PR21_2018_Web_Projekat.Models.SmestajnaJedinica> sj = a.Smestaj.SmestajneJedinice;

                        int cena = sj.Min(c => c.Cena);
                    }
                    <td>@cena&#8364</td>
                    <td>
                        <form method="post" action="/Menadzer/SmestajSamoPregled">
                            <input type="text" name="prikazi" value="@a.Naziv" hidden />
                            <input type="submit" value="Pogledaj smestaj i smestajne jedinice" />
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/Menadzer/PrikaziKomentare">
                            <input type="text" name="naziv" value="@a.naziv" hidden />
                            <input type="submit" value="Pogledaj komentare" />
                        </form>
                    </td>
                </tr>
            }
        }

    </table>

    <br />

    <form method="post" action="/Menadzer/Sortiraj">
        <table align="left" class="Forma">
            <tr>
                <td>
                    <select name="kriterijum">
                        <option>Datum pocetka putovanja</option>
                        <option>Datum zavrsetka putovanja</option>
                        <option>Tip prevoza</option>
                        <option>Naziv aranzmana</option>
                        <option>Cena</option>
                    </select>
                </td>
                <td>
                    <select name="smer">
                        <option>Rastuce</option>
                        <option>Opadajuce</option>
                    </select>
                </td>
                <td>
                    <input type="submit" value="Sortiraj" />
                </td>

            </tr>
        </table>
    </form>

    <br />


    <form method="post" action="/Menadzer/Pretrazi">
        <table align="right" class="Forma">
            <tr>
                <td>
                    Datum pocetka putovanja:
                </td>
                <td>
                    Od: <input type="date" name="pocetakOd" />
                </td>
                <td>
                    Do: <input type="date" name="pocetakDo" />
                </td>
            </tr>
            <tr>
                <td>
                    Datum zavrsetka putovanja:
                </td>
                <td>
                    Od: <input type="date" name="zavrsetakOd" />
                </td>
                <td>
                    Do: <input type="date" name="zavrsetakDo" />
                </td>
            </tr>
            <tr>
                <td>
                    Tip prevoza:
                </td>
                <td colspan="2">
                    <select name="tipPrevoza">
                        <option>Avion</option>
                        <option>Autobus</option>
                        <option>Autobus + avion</option>
                        <option>Individualan</option>
                        <option>Ostalo</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Tip aranzmana:
                </td>
                <td colspan="2">
                    <select name="tipAranzmana">
                        <option>Nocenje sa doruckom</option>
                        <option>Polupansion</option>
                        <option>Pun pansion</option>
                        <option>All inclusive</option>
                        <option>Najam apartmana</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Naziv aranzmana:
                </td>
                <td>
                    <input type="text" name="naziv" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Pretraga" />
                </td>
            </tr>
        </table>
    </form>

    @{ string greska = ((ViewBag.Greska == null) ? "" : ViewBag.Greska);}

    <p class="Greska">@greska</p>

    <br />

    <form method="post" action="/Menadzer/MojiAranzmani">
        <input type="submit" value="Moji aranzmani" />
    </form>

    <br />


    <form method="post" action="/Menadzer/MojiSmestaji">
        <input type="submit" value="Moji smestaji" />
    </form>

    <br />


    <form method="post" action="/Menadzer/SviKomentari">
        <input type="submit" value="UpravljajKomentarima" />
    </form>

</body>




