﻿
@{
    ViewBag.Title = "MojiSmestaji";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Menadzer">


    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <p class="Naslov">Moji smestaji</p>

    @{ string s = (ViewBag.Poruka == null) ? "" : ViewBag.Poruka;}
    <p class="Greska">@s</p>

    <br />

    <form method="post" action="/Menadzer/Index">
        <input type="submit" value="Pocetna strana" />
    </form>

    <br />

    <form method="post" action="/Menadzer/DodajSmestaj">
        <input type="submit" value="Dodaj smestaj" />
    </form>



    @{ var smestaji = ViewBag.Smestaji;}


    @foreach (var smestaj in smestaji)
    {
        <table border="1">
            <tr>
                <td>Naziv smestaja:</td>
                <td>@smestaj.Naziv</td>
            </tr>
            <tr>
                <td>Tip smestaja:</td>
                <td>@smestaj.TipSmestaja</td>
            </tr>
            <tr>
                <td>Broj zvezdica:</td>
                <td>@smestaj.BrojZvezdica</td>
            </tr>
            <tr>
                <td>Postojanje bazena:</td>
                <td>@smestaj.PostojanjeBazena</td>
            </tr>
            <tr>
                <td>Postojanje spa centra:</td>
                <td>@smestaj.PostojanjeSpaCentra</td>
            </tr>
            <tr>
                <td>Podrzano za osobe sa invaliditetom:</td>
                <td>@smestaj.Invaliditet</td>
            </tr>
            <tr>
                <td>Wifi:</td>
                <td>@smestaj.Wifi</td>
            </tr>
            <tr>
                <td>
                    <form method="post" action="/Menadzer/ObrisiSmestaj">
                        <input type="text" value="@smestaj.Naziv" name="naziv" hidden />
                        <input type="submit" value="Obrisi" />
                    </form>
                </td>
                <td>
                    <form method="post" action="/Menadzer/Smestaj">
                        <input type="text" value="@smestaj.Naziv" name="naziv" hidden />
                        <input type="submit" value="Pogledaj smestajne jedinice" />
                    </form>
                </td>
                <td>
                    <form method="post" action="/Menadzer/IzmeniSmestaj">
                        <input type="text" value="@smestaj.Naziv" name="naziv" hidden />
                        <input type="submit" value="Izmeni" />
                    </form>
                </td>
            </tr>
        </table>

        <hr />
    }

</body>
