﻿@{
    ViewBag.Title = "MojiAranzmani";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Menadzer">


    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <p class="Naslov">Moji aranzmani</p>

    <form method="post" action="/Menadzer/DodajAranzman">
        <input type="submit" value="Dodaj aranzman" />
    </form>

    <br />

    <form method="post" action="/Menadzer/Index">
        <input type="submit" value="Pocetna strana" />
    </form>

    <br />

    <table border="1" align="center" cellpadding="10" cellspacing="2">
        <tr>
            <td>Polazak</td>
            <td>Povratak</td>
            <td>Tip prevoza</td>
            <td colspan="1"></td>
            <td>Naziv aranzmana</td>
            <td>Cena</td>
        </tr>
        @foreach (var a in ViewBag.Aranzmani)
        {
            if (a.Obrisan == false)
            {
                <tr>
                    <td>@a.DatumPocetkaPutovanja.Date.ToString()</td>
                    <td>@a.DatumZavrsetkaPutovanja.Date.ToString()</td>
                    <td>@a.TipPrevoza</td>
                    <td><img src="@a.PosterAranzmana" width="150" height="150" /></td>
                    <td>@a.Naziv</td>
                    @if (a.Smestaj != null)
                    {

                        List<PR21_2018_Web_Projekat.Models.SmestajnaJedinica> sj = a.Smestaj.SmestajneJedinice;

                        int cena = sj.Min(c => c.Cena);

                        <td>@cena</td>
                    }
                    <td>
                        <form method="post" action="/Menadzer/ObrisiAranzman">
                            <input type="text" name="prikazi" value="@a.Naziv" hidden />
                            <input type="submit" value="Obrisi" />
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/Menadzer/IzmeniAranzman">
                            <input type="text" name="prikazi" value="@a.Naziv" hidden />
                            <input type="submit" value="Izmeni" />
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/Menadzer/Smestaj">
                            <input type="text" name="prikazi" value="@a.Naziv" hidden />
                            <input type="submit" value="Pogledaj smestaj i smestajne jedinice" />
                        </form>
                    </td>
                </tr>
            }
        }

    </table>

    @{ string s = (ViewBag.Poruka == null) ? "" : ViewBag.Poruka;}

    <p class="Poruka">@s</p>;

</body>
