﻿
@{
    ViewBag.Title = "Smestaj";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Menadzer">

    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />


    <form method="post" action="/Menadzer/Index">
        <input type="submit" value="Pocetna strana" />
    </form>

    <br />

    <form method="post" action="/Menadzer/MojiSmestaji">
        <input type="submit" value="Nazad na moje smestaje" />
    </form>

    @{ var smestaj = ViewBag.Smestaj;}

    @if (smestaj != null && smestaj.Obrisan == false)
    {
        <table border="1">
            <tr>
                <td>Naziv smestaja:</td>
                <td>@smestaj.Naziv</td>
            </tr>
            <tr>
                <td>Tip smestaja:</td>
                <td>@smestaj.TipSmestaja</td>
            </tr>
            <tr>
                <td>Broj zvezdica:</td>
                <td>@smestaj.BrojZvezdica</td>
            </tr>
            <tr>
                <td>Postojanje bazena:</td>
                <td>@smestaj.PostojanjeBazena</td>
            </tr>
            <tr>
                <td>Postojanje spa centra:</td>
                <td>@smestaj.PostojanjeSpaCentra</td>+
            </tr>
            <tr>
                <td>Podrzano za osobe sa invaliditetom:</td>
                <td>@smestaj.Invaliditet</td>
            </tr>
            <tr>
                <td>Wifi:</td>
                <td>@smestaj.Wifi</td>
            </tr>
        </table>

        <hr />

        <form method="post" action="/Menadzer/DodajSmestajnuJedinicu">
            <input type="submit" value="Dodaj smestajnu jedinicu" />
        </form>

        string st = (ViewBag.Greska == null) ? "" : ViewBag.Greska;
        <p class="Greska">@st</p>

        <br />

        <p class="Naslov">Smestajne jedinice:</p>

        <hr />

        foreach (var sj in smestaj.SmestajneJedinice)
        {

            <table border="1">
                @if (sj.Obrisana == false)
                {
                    <tr>
                        <td>Broj smestajne jedinice:</td>
                        <td>@sj.BrojSmestajneJedinice</td>
                    </tr>
                    <tr>
                        <td>Dozvoljen broj gostiju:</td>
                        <td>@sj.DozvoljenBrGostiju</td>
                    </tr>
                    <tr>
                        <td>Dozvoljeni ljubimci:</td>
                        @{ string s = ((sj.Ljubimci == true) ? "Da" : "Ne");}
                        <td>@s</td>
                    </tr>
                    <tr>
                        <td>Cena:</td>
                        <td>@sj.Cena</td>
                    </tr>
                    <tr>
                        <td>Zauzetost:</td>
                        @{ s = ((sj.Zauzeta == true) ? "Da" : "Ne");}
                        <td>@s</td>
                    </tr>
                    <tr>
                        <td>
                            <form method="post" action="/Menadzer/IzmeniSmestajnuJedinicu">
                                <input type="text" name="nazivSmestaja" value="@smestaj.Naziv" hidden />
                                <input type="text" name="brJedinice" value="@sj.BrojSmestajneJedinice" hidden />
                                <input type="submit" value="Izmeni" />
                            </form>
                        </td>

                        <td>
                            <form method="post" action="/Menadzer/ObrisiSmestajnuJedinicu">
                                <input type="text" name="nazivSmestaja" value="@smestaj.Naziv" hidden />
                                <input type="text" name="brJedinice" value="@sj.BrojSmestajneJedinice" hidden />
                                <input type="submit" value="Obrisi" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        }

    }
    else
    {
        <p class="Greska">Za ovaj aranzman i dalje ne postoji smestaj!</p>
    }

</body>





