﻿
@{
    ViewBag.Title = "SmestajSamoPregled";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Menadzer">

    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <form method="post" action="/Menadzer/Index">
        <input type="submit" value="Pocetna strana" />
    </form>

    <br />

    @{ var smestaj = ViewBag.Smestaj;}

    @if (smestaj != null && smestaj.Obrisan == false)
    {
        <table border="1">
            <tr>
                <td>Naziv smestaja:</td>
                <td>@smestaj.Naziv</td>
            </tr>
            <tr>
                <td>Tip smestaja:</td>
                <td>@smestaj.TipSmestaja</td>
            </tr>
            <tr>
                <td>Broj zvezdica:</td>
                <td>@smestaj.BrojZvezdica</td>
            </tr>
            <tr>
                <td>Postojanje bazena:</td>
                @{string bazen = (smestaj.PostojanjeBazena == true) ? "Da" : "Ne";}
                <td>@bazen</td>
            </tr>
            <tr>
                <td>Postojanje spa centra:</td>
                @{string spa = (smestaj.PostojanjeSpaCentra == true) ? "Da" : "Ne";}
                <td>@spa</td>
            </tr>
            <tr>
                <td>Podrzano za osobe sa invaliditetom:</td>
                @{string inva = (smestaj.Invaliditet == true) ? "Da" : "Ne";}
                <td>@inva</td>
            </tr>
            <tr>
                <td>Wifi:</td>
                @{string wifi = (smestaj.Wifi == true) ? "Da" : "Ne";}
                <td>@wifi</td>
            </tr>
        </table>

        <hr />



        <p class="Naslov">Smestajne jedinice:</p>

        <hr />

        foreach (var sj in ViewBag.SmestajneJedinice)
        {

            <table border="1">
                @if (sj.Obrisana == false)
                {
                    <tr>
                        <td>Dozvoljen broj gostiju:</td>
                        <td>@sj.DozvoljenBrGostiju</td>
                    </tr>
                    <tr>
                        <td>Dozvoljeni ljubimci:</td>
                        @{ string s = ((sj.Ljubimci == true) ? "Da" : "Ne");}
                        <td>@s</td>
                    </tr>
                    <tr>
                        <td>Cena:</td>
                        <td>@sj.Cena</td>
                    </tr>
                    <tr>
                        <td>Zauzetost:</td>
                        @{ s = ((sj.Zauzeta == true) ? "Da" : "Ne");}
                        <td>@s</td>
                    </tr>

                }
            </table>
        }

        <br />

        <form method="post" action="/Menadzer/SmestajPretraga">
            <table class="Forma">
                <tr>
                    <td>Granica za dozvoljen broj gostiju:</td>
                    <td>Od: <input type="text" name="donja" /></td>
                    <td>Do: <input type="text" name="gornja" /></td>
                </tr>
                <tr>
                    <td colspan="2">Dozvoljen boravak kućnim ljubimcima:</td>
                    <td><select name="ljubimci"><option>Da</option><option>Ne</option></select></td>
                </tr>
                <tr>
                    <td>Cena:</td>
                    <td>Od: <input type="text" name="cenadonja" /></td>
                    <td>Do: <input type="text" name="cenagornja" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Pretrazi" /></td>
                </tr>
            </table>

        </form>

        <br />



        <form method="post" action="/Menadzer/SmestajSortiranje">
            <table class="Forma">
                <tr>
                    <td>Sortiranje po: </td>
                    <td><select name="kriterijum"><option>Dozvoljen broj gostiju</option><option>Cena</option></select></td>
                    <td><select name="smer"><option>Rastuce</option><option>Opadajuce</option></select></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Sortiraj" /></td>
                </tr>
            </table>
        </form>

        <br />

        <form method="post" action="/Menadzer/SmestajSamoPregled">
            <input type="submit" value="Ponisti sortiranje/pretragu" />
        </form>
    }
    else
    {
        <p class="Greska">Za ovaj aranzman i dalje ne postoji smestaj!</p>
    }

</body>





