﻿
@{
    ViewBag.Title = "SviKomentari";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Menadzer">

    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <form method="post" action="/Menadzer/Index">
        <input type="submit" value="Pocetna strana" />
    </form>

    <p class="Naslov">Komentari:</p>

    <br />

    @{ var komentari = ViewBag.Komentari;}

    @foreach (var k in komentari)
    {

        <table align="center">
            <tr>
                <td>Ostavio komentar:</td>
                <td>@k.Turista</td>
            </tr>

            <tr>
                <td>Komentar:</td>
                <td><textarea>@k.Tekst</textarea></td>
            </tr>
            <tr>
                <td>Ocena:</td>
                <td>@k.Ocena</td>
            </tr>
            <tr>
                <td>Vidljiv:</td>
                @{ string s = (k.Vidljiv == true) ? "Da" : "Ne";}
                <td>@s</td>
            </tr>

            @if (k.Vidljiv == false)
            {
                <tr>
                    <td>
                        <form method="post" action="/Menadzer/Odobri">
                            <input type="text" name="turista" value="@k.Turista" hidden />
                            <input type="text" name="komentar" value="@k.Tekst" hidden />
                            <input type="text" name="ocena" value="@k.Ocena" hidden />
                            <input type="submit" value="Odobri" />
                        </form>
                    </td>
                </tr>
            }
        </table>
    }

</body>
