﻿body.Neprijavljeni {
    background-color: #FFEBCD;
}

body.Turista {
    background-color: #FFA07A;
}

body.Menadzer {
    background-color: #ADD8E6;
}

body.Admin {
    background-color: #90EE90;
}

table {
    text-align: center;
    vertical-align: central;
    padding: 15px;
    border: solid;
    background-color: lightgrey
    
}

    table.Forma {
        text-align: center;
        vertical-align: central;
        padding: 15px;
        border-color: dodgerblue;
        background-color: lightblue;
    }

tr:nth-child(even) {
    background-color: #FFFFF0;
}

table.Forma tr:nth-child(even) {
    background-color: lightsteelblue;
}

th {
    font-size: 16px;
    background-color: #2E8B57;
    color: white;
}

th, td {
    border-bottom: 1px solid #ddd;
}

input [type="submit"] {
    background-color: #F0E68C;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}

p.Greska {
    color: red;
    text-align: center;
    font-weight: bold;
}

p.Poruka {
    color: darkgreen;
    text-align: center;
    font-weight: bold;
}

p.Naslov {
    font-size: large;
    align-self: center;    
}