﻿
@{
    ViewBag.Title = "Detaljnije";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Neprijavljeni">

    <p class="Naslov">Detaljnije o smestaju</p>

    <table border="1" align="center" cellpadding="10" cellspacing="2">
        <tr>
            <td>Naziv</td>
            <td>Tip aranzmana:</td>
            <td>Tip prevoza:</td>
            <td>Lokacija:</td>
            <td>Polazak:</td>
            <td>Povratak:</td>
            <td>Mesto nalazenja:</td>
            <td></td>
            <td>Vreme nalazenja:</td>
            <td>Maksimalan broj putnika:</td>
            <td>Opis aranzmana:</td>
            <td>Program putovanja:</td>
            <td>Slika:</td>
        </tr>

        @{var a = ViewBag.Aranzman; }

        <tr>
            <td>@a.Naziv</td>
            <td>@a.TipAranzmana</td>
            <td>@a.TipPrevoza</td>
            <td>@a.Lokacija</td>
            <td>@a.DatumPocetkaPutovanja.Date.ToString()</td>
            <td>@a.DatumZavrsetkaPutovanja.Date.ToString()</td>
            <td>@a.MestoNalazenja.Adresa</td>
            <td></td>
            <td>@a.VremeNalazenja.ToString()</td>
            <td>@a.MaxBrojPutnika</td>
            <td>@a.OpisAranzmana</td>
            <td>@a.ProgramPutovanja</td>
            <td><img src="@a.PosterAranzmana" width="150" height="150" /></td>
        </tr>

    </table>

    <br />
    @if (a.Smestaj != null)
    {
 
        <table>

            <tr>
                <td>Naziv:</td>
                <td>@a.Smestaj.Naziv</td>
            </tr>
            <tr>
                <td>Tip:</td>
                <td>@a.Smestaj.TipSmestaja</td>
            </tr>
            <tr>
                <td>Bazen:</td>
                @{ string bazen = (a.Smestaj.PostojanjeBazena == true ? "Da" : "Ne");}
                <td>@bazen</td>
            </tr>
            <tr>
                <td>Spa centar:</td>
                @{ string spa = (a.Smestaj.PostojanjeSpaCentra == true ? "Da" : "Ne");}
                <td>@spa</td>
            </tr>
            <tr>
                <td>Podrzano za osobe sa invaliditetom:</td>
                @{ string inv = (a.Smestaj.Invaliditet == true ? "Da" : "Ne");}
                <td>@inv</td>
            </tr>
            <tr>
                <td>Wifi:</td>
                @{ string wifi = (a.Smestaj.Wifi == true ? "Da" : "Ne");}
                <td>@wifi</td>
            </tr>
        </table>


        <br />

    }
    else

    {
        <p class="Greska">Za ovaj aranzman jos nije dodat smestaj!</p>
    }

</body>

