﻿
@{
    ViewBag.Title = "Prikazi komentare";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Neprijavljeni">


    <p class="Nasov">Komentari:</p>

    @{ var komentari = ViewBag.Komentari;}

    @foreach (var k in komentari)
    {

        <table align="center">
            <tr>
                <td>Ostavio komentar:</td>
                <td>@k.Turista</td>
            </tr>

            <tr>
                <td>Komentar:</td>
                <td><textarea>@k.Tekst</textarea></td>
            </tr>
            <tr>
                <td>Ocena:</td>
                <td><textarea>@k.Ocena</textarea></td>
            </tr>
        </table>
    }

</body>
