﻿
@{
    ViewBag.Title = "Turista pocetna";
}
@using System.Globalization

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Turista">


    @{ string s = ViewBag.Dobrodosli;}

    <p class="Poruka">@s</p>

    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />
    <form method="post" action="/Turista/UrediProfil" align="right">
        <input type="submit" value="Uredi profil" />
    </form>

    <br />

    <form method="post" action="/Turista/MojeRezervacije">
        <input type="submit" value="Moje rezervacije" />
    </form>


    <form action="/Turista/Index">
        <input type="submit" value="Svi aranzmani" />
    </form>

    <br />

    <form action="/Turista/Predstojeci">
        <input type="submit" value="Predstojeci aranzmani" />
    </form>

    <br />

    <form action="/Turista/Prethodni">
        <input type="submit" value="Prethodni aranzmani" />
    </form>

    <br />
    <p class="Greska">
        @{ string greska = ((ViewBag.Greska == null) ? "" : ViewBag.Greska);}

        @greska
    </p>

    <br />

    @if (ViewBag.Aranzmani.Count == 0)
    {
        <p class="Greska">Ne postoji aranzman koji zadovoljava kriterijume pretrage!</p>
    }
    else
    {
        <table border="1" align="center" cellpadding="10" cellspacing="2">
            <tr>
                <td>Polazak</td>
                <td>Povratak</td>
                <td>Tip prevoza</td>
                <td colspan="1"></td>
                <td>Naziv aranzmana</td>
                <td>Tip aranzmana:</td>
                <td>Cena vec od:</td>
            </tr>
            @foreach (var a in ViewBag.Aranzmani)
            {
                if (a.Obrisan == false)
                {
                    <tr>
                        @{ string pocetak = a.DatumPocetkaPutovanja.ToString("dd/M/yyyy", CultureInfo.InvariantCulture);}
                        @{ string kraj = a.DatumZavrsetkaPutovanja.ToString("dd/M/yyyy", CultureInfo.InvariantCulture);}
                        <td>@pocetak</td>
                        <td>@kraj</td>
                        <td>@a.TipPrevoza</td>
                        <td><img src="@a.PosterAranzmana" width="150" height="150" /></td>
                        <td>@a.Naziv</td>
                        <td>@a.TipAranzmana</td>
                        @if (a.Smestaj != null)
                        {
                            List<PR21_2018_Web_Projekat.Models.SmestajnaJedinica> sj = a.Smestaj.SmestajneJedinice;

                            int cena = sj.Min(c => c.Cena);

                            <td>@cena&#8364</td>
                        }
                        <td>
                            <form method="post" action="/Home/Detaljnije">
                                <input type="text" name="prikazi" value="@a.naziv" hidden />
                                <input type="submit" value="Detaljnije" />
                            </form>
                        </td>
                        <td>
                            <form method="post" action="/Turista/Smestaj">
                                <input type="text" name="naziv" value="@a.naziv" hidden />
                                <input type="submit" value="Pogledaj smestaj" />
                            </form>
                        </td>
                        <td>
                            <form method="post" action="/Turista/Rezervacija">
                                <input type="text" name="prikazi" value="@a.naziv" hidden />
                                <input type="submit" value="Rezervisi" />
                            </form>
                        </td>
                        <td>
                            <form method="post" action="/Turista/PrikaziKomentare">
                                <input type="text" name="naziv" value="@a.naziv" hidden />
                                <input type="submit" value="Pogledaj komentare" />
                            </form>
                        </td>
                    </tr>
                }
            }

        </table>
    }
    <br />

    <form method="post" action="/Turista/Sortiraj">
        <table align="left" class="Forma">
            <tr>
                <td>
                    <select name="kriterijum">
                        <option>Datum pocetka putovanja</option>
                        <option>Datum zavrsetka putovanja</option>
                        <option>Tip prevoza</option>
                        <option>Naziv aranzmana</option>
                        <option>Cena</option>
                    </select>
                </td>
                <td>
                    <select name="smer">
                        <option>Rastuce</option>
                        <option>Opadajuce</option>
                    </select>
                </td>
                <td>
                    <input type="submit" value="Sortiraj" />
                </td>

            </tr>
        </table>
    </form>

    <br />

    <form method="post" action="/Turista/Pretrazi">
        <table align="right" class="Forma">
            <tr>
                <td>
                    Datum pocetka putovanja:
                </td>
                <td>
                    Od: <input type="date" name="pocetakOd" />
                </td>
                <td>
                    Do: <input type="date" name="pocetakDo" />
                </td>
            </tr>
            <tr>
                <td>
                    Datum zavrsetka putovanja:
                </td>
                <td>
                    Od: <input type="date" name="zavrsetakOd" />
                </td>
                <td>
                    Do: <input type="date" name="zavrsetakDo" />
                </td>
            </tr>
            <tr>
                <td>
                    Tip prevoza:
                </td>
                <td colspan="2">
                    <select name="tipPrevoza">
                        <option>Avion</option>
                        <option>Autobus</option>
                        <option>Autobus + avion</option>
                        <option>Individualan</option>
                        <option>Ostalo</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Tip aranzmana:
                </td>
                <td colspan="2">
                    <select name="tipAranzmana">
                        <option>Nocenje sa doruckom</option>
                        <option>Polupansion</option>
                        <option>Pun pansion</option>
                        <option>All inclusive</option>
                        <option>Najam apartmana</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Naziv aranzmana:
                </td>
                <td>
                    <input type="text" name="naziv" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Pretraga" />
                </td>
            </tr>
        </table>
    </form>

</body>

