﻿
@{
    ViewBag.Title = "Komentar";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Turista">

    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <p class="Naslov">Ostavite komentar!</p>

    <form method="post" action="/Turista/PotvrdiKomentar">
        <textarea rows="4" cols="50" name="kom"></textarea>
        Sa koliko zvezdica bi ocenili ovaj aranzman?
        Izaberi broj zvezdica:
        <select name="zvezda">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <input type="submit" value="Ostavi komentar" />
    </form>

</body>
