﻿
@{
    ViewBag.Title = "Rezervacije";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Turista">


    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />


    <p class="Naslov">Moje rezervacije</p>

    <br />

    @{ string porukaa = ((ViewBag.UspesanKomentar == null) ? "" : ViewBag.UspesanKomentar);}
    <p class="Poruka">@porukaa</p>

    <br />

    <form method="post" action="/Turista/Index">
        <input type="submit" value="Nazad na pocetnu stranu" />
    </form>

    <br />

    <form method="post" action="/Turista/NazadNaSmestaj">
        <input type="submit" value="Povratak na pregled jedinica" />
    </form>

    <br />

    <form method="post" action="/Turista/Pregled">
        Aktivnost rezervacije:
        <select name="kriterijum">
            <option>Aktivne</option>
            <option>Otkazane</option>
        </select>
        <input type="submit" value="Izaberi" />
    </form>

    <br />


    <form method="post" action="/Turista/Pregled">
        Vreme rezervacije:
        <select name="kriterijum">
            <option>Prethodne</option>
            <option>Buduce</option>
        </select>
        <input type="submit" value="Izaberi" />
    </form>

    <br />

    <table border="1">
        <tr>
            <td>Jedinstveni identifikator rezervacije:</td>
            <td>Osoba koja vrsi rezervaciju:</td>
            <td>Status:</td>
            <td>Aranzman:</td>
            <td>Smestajna jedinica broj:</td>
        </tr>
        @foreach (var rez in ViewBag.Rezervacije)
        {
            <tr>
                <td>@rez.Identifikator</td>
                <td>@rez.TuristaKojiRezervise</td>
                @{ string s = (rez.Status == true) ? "Aktivna" : "Otkazana";}
                <td>@s</td>
                <td>@rez.Aranzman</td>
                <td>@rez.SmestajnaJedinica.BrojSmestajneJedinice</td>

                @if (rez.Status == true)
                {
                    <td>
                        <form method="post" action="/Turista/Otkazi">
                            <input type="text" value="@rez.Identifikator" name="rez" hidden />
                            <input type="text" value="@rez.Aranzman" name="aranzman" hidden />
                            <input type="text" value="@rez.SmestajnaJedinica.BrojSmestajneJedinice" name="br" hidden />
                            <input type="submit" value="Otkazi" />
                        </form>
                    </td>
                }
                else
                {
                    <td colspan="1"></td>
                }

                <td>
                    <form method="post" action="/Turista/Komentar">
                        <input type="text" value="@rez.Aranzman" name="aranzman" hidden />
                        <input type="submit" value="Ostavi komentar!" />
                    </form>
                </td>
            </tr>
        }
    </table>

    <br />

    @{ string poruka = ((ViewBag.Poruka == null) ? "" : ViewBag.Poruka);}

    <p class="Poruka">@poruka</p>

    <br />


    <form method="post" action="/Turista/RezervacijePretraga">
        <table align="left" class="Forma">
            <tr>
                <td>Identifikator:</td>
                <td><input type="text" name="id" /></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td><select name="status"><option>Aktivna</option><option>Otkazana</option></select></td>
            </tr>
            <tr>
                <td>Aranzman:</td>
                <td><input type="text" name="aranzman" /></td>
            </tr>
            <tr>
                
                <td><input type="submit" value="Pretrazi" /></td>
            </tr>
        </table>
    </form>


    <br />
    <form method="post" action="/Turista/RezervacijeSortiranje">
        <table align="right" class="Forma">
            <tr>
                <td>Sortiraj po:</td>
                <td><select name="kriterijum"><option>Identifikator</option><option>Aranzman</option></select></td>
            </tr>
            <tr>
                <td>Smer:</td>
                <td><select name="smer"><option>Rastuce</option><option>Opadajuce</option></select></td>
            </tr>
            <tr>
                <td><input type="submit" value="Sortiraj" /></td>
            </tr>
        </table>
    </form>

    <br />

    <form method="post" action="/Turista/MojeRezervacije">
        <input type="submit" value="Sve rezervacije" />
    </form>

</body>
