﻿
@{
    ViewBag.Title = "Turista smestaj";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Turista">


    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <p class="Naslov">Detaljnije o aranzmanu:</p>

    @{ var smestaj = ViewBag.Smestaj;}

    <br />


    <form method="post" action="/Turista/Index">
        <input type="submit" value="Nazad na pocetnu stranu" />
    </form>

    <br />

    @if (smestaj != null)
    {
        <table border="1">
            <tr>
                <td>Naziv smestaja:</td>
                <td>@smestaj.Naziv</td>
            </tr>
            <tr>
                <td>Tip smestaja:</td>
                <td>@smestaj.TipSmestaja</td>
            </tr>
            <tr>
                <td>Broj zvezdica:</td>
                <td>@smestaj.BrojZvezdica</td>
            </tr>
            <tr>
                <td>Postojanje bazena:</td>
                <td>@smestaj.PostojanjeBazena</td>
            </tr>
            <tr>
                <td>Postojanje spa centra:</td>
                <td>@smestaj.PostojanjeSpaCentra</td>
            </tr>
            <tr>
                <td>Podrzano za osobe sa invaliditetom:</td>
                <td>@smestaj.Invaliditet</td>
            </tr>
            <tr>
                <td>Wifi:</td>
                <td>@smestaj.Wifi</td>
            </tr>
        </table>

        <br />

        <p class="Naslov">Smestajne jedinice:</p>

        <br />


        <table border="1">

            <tr>
                <td>Dozvoljen broj gostiju:</td>
                <td>Dozvoljeni ljubimci:</td>
                <td>Cena:</td>
                <td>Zauzeta:</td>
            </tr>

            @foreach (var sj in ViewBag.SmestajneJedinice)
            {
                if (sj.Obrisana == false)
                {
                    <tr>
                        <td>@sj.DozvoljenBrGostiju</td>
                        @{ string ljub = (sj.Ljubimci == true ? "da" : "ne");}
                        <td>@ljub</td>
                        <td>@sj.Cena</td>
                        @{ string zauzeta = (sj.Zauzeta == true ? "Da" : "Ne");}
                        <td>@zauzeta</td>
                    </tr>
                }
            }

        </table>

        <br />


        <form method="post" action="/Turista/SmestajPretraga">
            <table align="right" class="Forma">
                <tr>
                    <td>
                        Granica za dozvoljen broj gostiju:
                    </td>
                    <td>
                        Od: <input type="text" name="donja" />
                    </td>
                    <td>
                        Do: <input type="text" name="gornja" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Dozvoljen boravak kućnim ljubimcima:
                    </td>
                    <td colspan="2">
                        <select name="ljubimci">
                            <option>Da</option>
                            <option>Ne</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Cena:
                    </td>
                    <td>
                        Od: <input type="text" name="cenadonja" />
                    </td>
                    <td>
                        Do: <input type="text" name="cenagornja" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Pretrazi" />
                    </td>
                </tr>
            </table>
        </form>

        <br />

        <form method="post" action="/Turista/SmestajSortiranje">
            <p>Pretraga po:</p>
            <select name="kriterijum">
                <option>Dozvoljen broj gostiju</option>
                <option>Cena</option>
            </select>
            <select name="smer">
                <option>Rastuce</option>
                <option>Opadajuce</option>
            </select>
            <input type="submit" value="Sortiraj" />
        </form>

    }
    else
    {
        <p class="Greska">Za ovaj aranzman i dalje ne postoji smestaj!</p>
    }

    <form method="post" action="/Turista/PonistiPretraguSmestaj" align="right">
        <input type="submit" value="Ponisti pretragu/sortiranje" />
    </form>

    @{string s = (ViewBag.Greska == null) ? "" : ViewBag.Greska;}
    <p class="Greska">@s</p>

</body>




