﻿
@{
    ViewBag.Title = "Uredi profil";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Neprijavljeni">


    <p class="Naslov">Uredi profil</p>

    @using PR21_2018_Web_Projekat.Models;

    @{var t = ViewBag.Korisnik;}

    <form method="post" action="/Turista/PotvrdiProfil">
        <input type="text" name="staroKorisnickoIme" value="@t.KorisnickoIme" hidden />
        <table border="1" class="Forma">
            <tr>
                <td>Korisnicko ime:</td>
                <td><input type="text" name="korisnickoIme" value="@t.KorisnickoIme" /></td>
            </tr>
            <tr>
                <td>Lozinka:</td>
                <td><input type="text" name="lozinka" value="@t.Lozinka"></td>
            </tr>
            <tr>
                <td>Ime:</td>
                <td><input type="text" name="ime" value="@t.Ime"></td>
            </tr>
            <tr>
                <td>Prezime:</td>
                <td><input type="text" name="prezime" value="@t.Prezime"></td>
            </tr>
            <tr>
                <td>Pol:</td>
                <td><select name="pol" value="@t.Pol"><<option>Muski</option><option>Zenski</option></select></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email" value="@t.Email"></td>
            </tr>
            <tr>
                <td>Datum rodjenja:</td>
                <td><input type="date" name="datum" value="@t.DatumRodjenja"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Sacuvaj izmene"></td>
            </tr>
        </table>
    </form>

    @{ string s = (ViewBag.Greska == null) ? "" : ViewBag.Greska;}

    <p class="Greska">@s</p>

</body>

