﻿

@{
    ViewBag.Title = "Admin pocetna";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Admin">

    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>


    <br />
    <form method="post" action="/Turista/UrediProfil" align="right">
        <input type="submit" value="Uredi profil" />
    </form>


    <p class="Naslov">Pocetna strana</p>

    @{ string s = (ViewBag.Dobrodosli == null) ? "" : ViewBag.Dobrodosli;}

    <p class="Poruka">@s</p>

    <br />

    <form method="post" action="/Admin/SumnjiviTuristi">
        <input type="submit" value="Prikazi sumnjivih turista" />
    </form>

    <br />

    <table border="1" align="center" cellpadding="10" cellspacing="2">
        <tr>
            <td>Ime:</td>
            <td>Prezime:</td>
            <td>Korisnicko ime:</td>
            <td>Pol:</td>
            <td>Email:</td>
            <td>Datum rodjenja:</td>
            <td>Uloga:</td>
        </tr>
        @foreach (var a in ViewBag.Svi)
        {
            if (a.Obrisan == false)
            {
                <tr>
                    <td>@a.Ime</td>
                    <td>@a.Prezime</td>
                    <td>@a.KorisnickoIme</td>
                    <td>@a.Pol</td>
                    <td>@a.Email</td>
                    <td>@a.DatumRodjenja.ToString()</td>
                    <td>@a.Uloga.ToString()</td>
                </tr>
            }
        }

    </table>

    <br />


    <form method="post" action="/Admin/DodajMenadzera">
        <input type="submit" value="Dodaj novog menadzera" />
    </form>

    <br />


    <form method="post" action="/Admin/Sortiraj">
        <select name="kriterijum">
            <option>Ime</option>
            <option>Prezime</option>
            <option>Uloga</option>
        </select>
        <select name="smer">
            <option>Rastuce</option>
            <option>Opadajuce</option>
        </select>
        <input type="submit" value="Sortiraj" />
    </form>

    <br />

    <br />

    <form method="post" action="/Admin/Pretrazi">
        <table align="right" class="Forma">
            <tr>
                <td>
                    Ime:
                </td>
                <td>
                    <input type="text" name="ime" />
                </td>
            </tr>
            <tr>
                <td>
                    Prezime:
                </td>
                <td>
                    <input type="text" name="prezime" />
                </td>
            </tr>
            <tr>
                <td>
                    Uloga:
                </td>
                <td>
                    <select name="uloga">
                        <option>Turista</option>
                        <option>Menadzer</option>
                        <option>Administrator</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Pretraga" />
                </td>
            </tr>
        </table>
    </form>

    <br />

    <form method="post" action="/Admin/Index">
        <input type="submit" value="Ponisti sortiranja i pretragu" />
    </form>

</body>