﻿
@{
    ViewBag.Title = "Dodaj menadzera";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Admin">


    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <p class="Naslov">Dodaj menadzera</p>

    @{ string s = (ViewBag.Poruka == null) ? "" : ViewBag.Poruka;}
    <p class="Greska">@s</p>@s

    <form method="post" action="/Admin/DodajMenadzera">
        <table border="1">
            <tr>
                <td>Korisnicko ime:</td>
                <td><input type="text" name="korisnickoIme" /></td>
            </tr>
            <tr>
                <td>Lozinka:</td>
                <td><input type="text" name="lozinka"></td>
            </tr>
            <tr>
                <td>Ime:</td>
                <td><input type="text" name="ime"></td>
            </tr>
            <tr>
                <td>Prezime:</td>
                <td><input type="text" name="prezime"></td>
            </tr>
            <tr>
                <td>Pol:</td>
                <td><select name="pol"><option>Muski</option><option>Zenski</option></select></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Datum rodjenja:</td>
                <td><input type="date" name="datum"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Dodaj"></td>
            </tr>
        </table>
    </form>

</body>