﻿
@{
    ViewBag.Title = "Sumnjivi turisti";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Stilovi.css" />
</head>

<body class="Admin">


    <form method="post" action="/Home/OdjaviSe" align="right">
        <input type="submit" value="Odjavi se" />
    </form>

    <br />

    <p class="Naslov">Lista sumnjivih turista:</p>


    <form method="post" action="/Admin/Index">
        <input type="submit" value="Nazad na pocetnu stranu" />
    </form>

    <table border="1" align="center" cellpadding="10" cellspacing="2">
        <tr>
            <td>Ime:</td>
            <td>Prezime:</td>
            <td>Korisnicko ime:</td>
            <td>Pol:</td>
            <td>Email:</td>
            <td>Datum rodjenja:</td>
            <td>Uloga:</td>
            <td>Status:</td>
            <td colspan="1"></td>
        </tr>
        @foreach (var a in ViewBag.Turisti)
        {

            <tr>
                <td>@a.Ime</td>
                <td>@a.Prezime</td>
                <td>@a.KorisnickoIme</td>
                <td>@a.Pol</td>
                <td>@a.Email</td>
                <td>@a.DatumRodjenja.ToString()</td>
                <td>@a.Uloga.ToString()</td>
                @{ string blokiran = (a.Obrisan == true) ? "Blokiran" : "Aktivan";}
                <td>@blokiran</td>
                <td>
                    <form method="post" action="/Admin/BlokirajTuristu">
                        <input type="text" name="naziv" value="@a.KorisnickoIme" hidden />
                        <input type="submit" value="Blokiraj" />
                    </form>
                </td>
            </tr>

        }

    </table>

</body>
